{
	"presets": [
		"atomic-router/babel-preset",
	  [
		"@babel/preset-env",
		
		{
		  "useBuiltIns": "usage",
		  "corejs": 3,
		  "targets": {"node": "current"}
		}
	  ],
	  "@babel/typescript",
	  "@babel/react",
	  "patronum/babel-preset"
	],
	"plugins": [
		[
		"effector-logger/babel-plugin",
		{
			"inspector": true,
			"factories": ["@farfetched/core", "atomic-router"]
		}
	]
	]
  }
  